{% extends 'home/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="d-flex justify-content-center  ">
    <form class="d-flex flex-column w-100 px-5 py-4 rounded-2 shadow bg-white ajaxForm needs-validation" method="POST" style="max-width: 500px;" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
            <button class="w-100 btn btn-lg btn-primary checkFormBtn" type="submit">Войти</button>
        </div>
    </form>
</div>
{% endblock %}
