{% extends 'home/base.html'%}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="d-flex justify-content-center  ">
    <form method="post" class="w-100 px-5 py-4 rounded-2 shadow bg-white ajaxForm needs-validation" style="max-width: 800px;" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary checkFormBtn">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock%}
