{% load humanize %}
<div class="row">
    {% for order in orders%}
    <div class='order-item' data-order-id="{{order.id}}">
        {% ifchanged %}<h3>{{order.date_create|naturalday}}</h3>{% endifchanged %}

        <div class="bg-white rounded-2 overflow-hidden shadow-sm mb-3 px-3 py-4">
            {% if user.is_deliver or user.is_operator %}
            <div class="border rounded-top px-3 py-2">
                {% block deliver %}
                {% endblock %}
                <!-- конец для доставщика -->
            </div>
            {% endif%}
            {% block order %}
            <div class=" ">
                <div class="row justify-content-center align-items-center w-100">
                            <span class="col-auto fs-4 ">Заказ №
                                {{ order.id }} на {{order.date_create|naturalday}}</span>
                    <div class="col">
                        <div class="row order_view btn-group p-0 m-0 order_info  bg-white"
                             data-id="{{ order.id }}">
                            <div class="col-auto btn {% if order.status.id  == 1%} btn-primary {% elif order.status.id == 2 or order.status.id == 7 or order.status.id == 5 %} btn-success {% elif order.status.id == 3%} btn-danger {% else %}btn-outline-primary{%endif%}">
                                Статус: <span data-id="{{order.id}}"> {{ order.status }} </span>
                            </div>
                            <div class="col-auto btn btn-outline-primary">
                                <span>Блюд:</span>
                                {{ order.amount }}
                            </div>
                            <div class=" col-auto btn btn-outline-primary">
                                <span>Сумма:</span>
                                {{order.total_amount}}р
                            </div>
                        </div>
                    </div>
                    <span class="col-auto fs-4">
                        <div class="row row-cols-1 text-end">
                            <div class="col order-cab">
                                {{order.cab}}
                            </div>
                            <div class="col order-time">
                                на <span>{{ order.order_date }}</span> <i class="bi bi-clock"></i>
                            </div>
                        </div>
                    </span>
                    {% if order.deliver%}
                    <div class="deliver-info col-12">
                        <div class="row">
                            <div class="col">Доставщик: {{order.deliver}}</div>
                        </div>
                    </div>
                    {% endif%}
                    <div class="col-12">
                        <p class="order-comment">{% if order.user_comment %}Ваш комментарий: <span>{{order.user_comment}}</span>{% endif %}</p>
                        <p>
                            {% if order.result %}
                            Причина отмены:{{order.result}}
                            {% endif %}
                        </p>
                    </div>
                    {% if order.status.code == 'new' %}
                    <div>
                        <button class="btn btn-danger confirm-cancel-order" data-id="{{order.id}}">Отменить заказ
                        </button>
                    </div>
                    {% endif %}
                </div>


            </div>
            {% endblock %}
        </div>
    </div>
    {% empty %}
    {% include 'home/elements/danger.html' with text='Заказов нет'%}
    {% endfor %}
</div>