<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>АдминеПанель: {% block title %}{% endblock %}</title>
    {% block head%}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/home_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-icons-1.11.3/font/bootstrap-icons.css'%}">
    <script defer src="{% static 'js/home/dragscroll.js' %}"></script>
    <script src="{% static 'js/home/jquery-3.7.1.js' %}"></script>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extra_head %}{% endblock %}
    {% include 'home/css/style.html'%}
    <link rel="stylesheet" href="{% static 'admin_app/css/admin_style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100 container-fluid">

{% include 'admin_app/elements/header.html' %}

<section class="mb-4 d-flex justify-content-between">


    {% include 'admin_app/elements/aside.html' %}

    <main class="container-fluid" data-bs-spy='scroll' data-bs-smooth-scrool="true" tabindex="0">
        {% block h1 %}{% endblock %}
        {% block filter %}
        {% if filter %}
        {% include 'admin_app/elements/filter.html' %}
        {% endif %}
        {% endblock %}
        {% block content%}{% endblock %}


    </main>

</section>

{% include 'home/elements/footer.html' %}
<script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/home/center_nav.js'%}"></script>
<script src="{% static 'admin_app/js/table_height.js' %}"></script>
{% block extra_body %}
{% endblock %}
</body>

</html>
