{% extends 'admin_app/base.html' %}
{% load django_bootstrap5%}
{% block title %}{{ title }}: {% if object %}{{ object }}{% else %}Добавить объект{% endif %}{% endblock %}

{% block content %}
<div class="card " style="max-width: 600px; padding: 2rem;">
    <h2>{{ title }}: {% if object %}{{ object }}{% else %}Добавить объект{% endif %}</h2>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{{url}}" class="btn btn-secondary">Вернуться назад</a>
    </form>
</div>
{% endblock %}