{% extends 'admin_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Заказы{% endblock %}
{% block content %}
<h1>Заказы</h1>

<div class=" rounded border table-responsive sticky-under-top " style="">
    <table class="table table-hover table-bordered table-striped m-0 ">
        <thead class="sticky-top z-0 shadow-sm">
        <tr class="border-top-0">
            <th class="d-sm-table-cell t-25">ФИО</th>
            <th class="d-sm-table-cell t-25">Каб.</th>
            <th class="d-sm-table-cell t-25">Время заказа</th>
            <th class="d-sm-table-cell t-25">Доставщик</th>
            <th class="d-sm-table-cell t-25">Статус</th>
            <th class="d-sm-table-cell t-25">Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}

        <tr>
            {% ifchanged %}
            <td colspan="6">
            {{order.date_create|naturalday}}

            </td>
            {% endifchanged %}
        </tr>

        <tr>
            <td class="t-100">{{order.user}}</td>
            <td class="t-100">{{order.cab}}</td>
            <td class="t-100">{{order.order_date}}</td>
            <td class="t-100">{{order.deliver}}</td>
            <td class="t-100">{{order.status}}</td>
            <td class="t-100">{{order.total_amount}}</td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block filter %}
{% include 'admin_app/elements/filter.html' %}
{% endblock %}
