<header class="sticky-top mb-4">
    <nav class="navbar navbar-expand-lg bg-primary rounded" data-bs-theme="dark">
        <div class="container-fluid">
            <button aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#aside_models"
                    data-bs-toggle="offcanvas" type="button">
                <span class="bi bi-three-dots"></span>
            </button>
            <a class="navbar-brand d-flex align-items-center" href="{% url 'admin_home' %}">АдминАптДоставка <span
                    class="material-icons"> admin_panel_settings</span></a>
{% if filter %}
            <button aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#filter_models"
                    data-bs-toggle="offcanvas" type="button">
                <i class="bi bi-funnel"></i>
            </button>
            {% endif %}
            <div class="form-inline order-lg-3">
                <ul class="navbar-nav d-flex flex-row align-items-center justify-content-center">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            {{user.last_name}}
                            {{user.first_name|slice:"1"}}.
                            {%if user.patronymic %}
                            {{user.patronymic|slice:"1"}}.
                            {%endif%}
                        </button>
                        <ul class="dropdown-menu position-absolute dropdown-menu-end">
                            {% if request.user.is_authenticated %}
                            {% if user.is_superuser %}
<!--                            <li class="">-->
<!--                                <a class="dropdown-item d-flex align-items-center"-->
<!--                                   href="/admin"-->
<!--                                   >-->
<!--                                    АдминПанель-->
<!--                                    <span class="material-icons"> admin_panel_settings</span>-->
<!--                                </a>-->
<!--                            </li>-->
                            <li class="">
                                <a class="dropdown-item d-flex align-items-center"
                                   href="/admin_app"
                                   >
                                    АдминПанель
                                    <span class="material-icons"> admin_panel_settings</span>
                                </a>
                            </li>
                            {% elif request.user.is_deliver %}
                            <li class="">
                                <a class="dropdown-item d-flex align-items-center"
                                   href="{% url 'deliver'%}">Доставка
                                    <span class="material-icons">directions_run</span></a>
                            </li>
                            {% elif request.user.is_operator %}
                            <li class="">
                                <a class="dropdown-item d-flex align-items-center"
                                   href="{% url 'deliver'%}">Оператор
                                    <span class="bi bi-person-workspace"></span>
                                </a>
                            </li>
                            {% endif %}
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white px-2" href="{% url 'registration' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
</header>