{% load django_tables2 %}
{% load static %}

<div class="rounded border table-responsive sticky-under-top">
    <table {% render_attrs table.attrs %}>
        <thead>
            <tr {{ table.attrs.thead.tr_attrs }}>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }}>
                        {% if column.orderable %}
                            <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">

                                {% if column.is_ordered %}
                                    <i class="fas fa-sort-{% if column.order_by_alias.is_descending %}down{% else %}up{% endif %}"></i>
                                {% else %}
                                    <i class="fas fa-sort"></i>
                                {% endif %}
                            </a>
                        {% else %}
                            {{ column.header }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.paginated_rows %}
                {% if row.is_date_row %}
                    <tr class="date-group">
                        <td colspan="{{ row.colspan }}" class="t-100 bg-light">
                            <strong>{{ row.date }}</strong>
                        </td>
                    </tr>
                {% else %}
                    <tr {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if table.page and table.paginator.num_pages > 1 %}
        <div class="pagination mt-3">
            {% include 'django_tables2/bootstrap5/pagination.html' %}
        </div>
    {% endif %}
</div>